body {
  position: relative;
  margin: 0;
  width: 100%; 
  top: 175px;
  text-align: center;

}

#user-login {
  position: relative;
  border: solid;
  border-color: lightseagreen;
  height: 250px;
  width: 250px;
  left: 580px;
  box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6); 
  border-radius: 8px;
}

#google-login-btn {
  top: 200px;
  left: 3px;
  border: solid; 
  border-color: lightseagreen;; 
  box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
  border-radius: 8px;
}